h1{
	text-align: center;
	font: 2em "comic sans ms", sans-serif;
  }
  
  p{
	font: 2em "comic sans ms", sans-serif;
  }
  
  body{
	  background-image: url("back.jpg");
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	  color: white;
  }
  
	#a{
	text-align: center;
	font: 2em "comic sans ms", sans-serif;
	}

	#p2{
<<<<<<< HEAD
	
=======
>>>>>>> 2708c63dac186d930016e8c918a9722f7a80048e
	font: 2em "comic sans ms", sans-serif;
	}
