h1{
	text-align: center;
	font: 2em "comic sans ms", sans-serif;
  }
  
  p{
	font: 2em "comic sans ms", sans-serif;
  }
  
  body{
	  background-image: url("back.jpg");
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	  color: white;
  }
  
	#a{
	text-align: center;
	font: 2em "comic sans ms", sans-serif;
	}

	#p2{	
	font: 2em "comic sans ms", sans-serif;
	}
	
	img {
	display:none;	
	}
